@use './base';
@use './layout';
@use './components';
@use './pages';

.search__header {
    margin-top: 20px;
}

.search-list {
    margin-top: 20px;
}
.search-item {
    padding: 20px;
    display: flex;
    border-bottom: 1px solid rgba(22, 24, 35, 0.2);
}

.search-item ~ .search-item {
    margin-top: 16px;
}

.search-item_link {
    color: var(--text-color);
}

.search-item_img {
    object-fit: cover;
    border-radius: 10px;
    width: 300px;
}

.search-item_content {
    margin-left: 16px;
    font-size: 1.6rem;
    line-height: 1.6rem;

    .star {
        margin-top: 10px;
        font-size: 1.2rem;
    }
}

.search-item_title {
    font-size: 2rem;
    line-height: 2rem;
    display: block;
}

.search-item__createdAt {
    font-size: 1.4rem;
    margin-top: 6px;
}
.search-item__author {
    display: flex;
    align-items: center;
    margin-top: 10px;

    span {
        color: #292929;
        font-size: 1.4rem;
        font-weight: 600;
        margin-left: 8px;
    }
}

.search-item_description {
    margin-top: 10px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.search-item_price {
    font-size: 1.6rem;
    line-height: 1.6rem;
    font-weight: 700;
    margin-left: 8px;
}
