.blog_wrapper {
    margin-top: 40px;
    overflow  : hidden;
    padding   : 0 44px 74px;

    & h1 {
        font-size    : 3rem;
        padding      : 10px;
        margin-bottom: 40px;
    }

    .post-list {
        .post-item {
            border-radius: 16px;
            border       : 2px solid #ccc;
            padding      : 24px;
            margin       : 20px;

            .post-item__header {
                display        : flex;
                justify-content: space-between;

                .post-item__author {
                    display    : flex;
                    align-items: center;

                    span {
                        color      : #292929;
                        font-size  : 1.4rem;
                        font-weight: 600;
                        margin-left: 8px;
                    }

                    .post-item__createdAt {
                        font-size  : 1.2rem;
                        margin-left: 10px;
                    }
                }

                .post-item__actions {
                    display: flex;

                    .bookmark_toggleBtn {}

                    .post-item__optionBtn {
                        cursor   : pointer;
                        padding  : 4px 8px;
                        font-size: 1.8rem;
                    }
                }
            }



            .post-item__body {
                .post-item__info {
                    .post-item__title {
                        color        : #292929;
                        font-size    : 2rem;
                        font-weight  : 700;
                        line-height  : 1.6;
                        margin-bottom: 0;
                        margin-top   : 8px;
                    }

                    .post-item__description {
                        color      : #505050;
                        font-size  : 1.5rem;
                        line-height: 1.6;
                        margin-top : 4px;
                    }
                }

                .post-item__thumb {
                    display        : flex;
                    justify-content: center;
                    margin-top     : 10px;

                    .post-item__img {
                        object-fit: contain;
                    }
                }
            }
        }
    }
}