.home_wrapper {
    margin-top: 40px;
    overflow  : hidden;
    padding   : 0 44px 74px;

    .scrollList_heading {
        padding-bottom: 20px;

        h1 {
            color       : #242424;
            font-size   : 2.4rem;
            font-weight : 900;
            margin-right: auto;
            margin-top  : 16px;
        }
    }

    .scrollList_body {
        min-height    : 200px;
        padding-bottom: 0;

        .commonItem_wrapper {
            flex-shrink  : 0;
            margin-bottom: 32px;
            overflow     : hidden;

            .commonItem_link {
                border-radius: 16px;
                display      : block;
                overflow     : hidden;

                .commonItem_thumb {
                    width        : 100%;
                    object-fit   : cover;
                    border-radius: 16px;
                }
            }

            .commonItem_title {
                a {
                    // word-wrap            : break-word;
                    -webkit-box-orient      : vertical;
                    // -webkit-line-clamp: 1;
                    // display              : -webkit-box;
                    color                   : #292929;
                    font-size               : 1.6rem;
                    line-height             : 1.4;
                    overflow                : hidden;

                }
            }

        }
    }
}